<h2id="nuevoProducto">Registro de nuevo producto</h2>
<form method="post" id="formRegistrarProducto">
    <div class="input-group mb-3">
    <input type="text" name="nombre" class="form-control" placeholder="Nombre producto" aria-label="Username">
    <span class="input-group-text">@</span>
    <input type="number" name="precio" class="form-control" placeholder="Server" aria-label="Server">
    <input type="number" name="cantidad" class="form-control" placeholder="Username" aria-label="Username">
    <span class="input-group-text">@</span>
    <input type="text" name="imagen" class="form-control" placeholder="Imagen del producto" aria-label="Server">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>
<script src="/js/producto/registrarProductos.js"></script>